<h1>All Categories</h1>


<%#= 8 -- failing test - nothing's in view   %>

<%#= 9 -- failing test after All Categories was added b/c we weren't suppose to see it  %>

<%#= 10 for to base_controller and before_action   %>

